﻿<form action="Create" method="post">    
    <div>
        <p>Login</p>
        <input type="text" name="Login" />
    </div>
    <div>
        <p>Password</p>
        <input type="password" name="Password" />
    </div>
    <div>
        <p>FirstName</p>
        <input type="text" name="FirstName" />
    </div>
    <div>
        <p>SurName</p>
        <input type="text" name="SurName" />
    </div>
    <div>
        <p>Patronymic</p>
        <input type="text" name="Patronymic" />
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>

</form>