﻿@model List<User>

<table>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Password</th>
        <th>FirstName</th>
        <th>SurName</th>
        <th>Patronymic</th>
        <th>Create</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Login></td>
            <td>@item.Password</td>
            <td>@item.FirstName </td>
            <td>@item.SurName </td>
            <td>@item.Patronymic</td>
            <td>@item.DateOfCreate</td>
            <td>
                <a href="~/Home/Edit/@item.ID">Edit</a>
            </td>
            <td>
                <a href="~/Home/Delete/@item.ID">Delete </a>
            </td>
        </tr>
    }
</table>

