﻿@model User

<form action="Edit" method="post">
    <div>
        <input type="hidden" name="ID" value=@Model.ID />
        <p>Login</p>
        <input type="text" name="Login" value=@Model.Login />
    </div>
    <div>
        <p>Password</p>
        <input type="text" name="Password" value=@Model.Password />
    </div>
    <div>
        <p>FirstName</p>
        <input type="text" name="FirstName" value=@Model.FirstName />
    </div>
    <div>
        <p>SurName</p>
        <input type="text" name="SurName" value=@Model.SurName />
    </div>
    <div>
        <p>Patronymic</p>
        <input type="text" name="Patronymic" value=@Model.Patronymic />
    </div>    
    <div>
        <p>Date of Create Account @Model.DateOfCreate</p>        
    </div>
    <div>
        <input type="submit" value="Change"/>
    </div>
</form>

